@page "/counter"

<div class="home-component-left">
    <NavBarLeftComponent></NavBarLeftComponent>
</div>
<div class="home-component-medium">
    <HeaderComponent></HeaderComponent>
    <OptionsNavBarComponent></OptionsNavBarComponent>
    <CollectionContainerComponent></CollectionContainerComponent>
</div>
<div class="home-component-right">
    <NavBarRightComponent></NavBarRightComponent>
</div>