<div class="create-bookmark @CssClass">
    <div class="container-create">
        <span>Name page:</span>
        <input @bind="NamePage" />
        <span>Path: </span>
        <input @bind="Path" />
        <div class="buttons">
            <button @onclick="() => IsOpened = false">Cancel</button>
            <button @onclick="CreateBookmark">Create</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsOpened { get; set; } = false;
    private string CssClass => IsOpened ? "show" : "hide";
    [Parameter]
    public int IdCollection { get; set; }
}
