<div class="header-home">
    <div class="title-header">
        <h5>My Collections</h5>
        <span>| 3 collections</span>
    </div>
    <div class="setting-header">
        <i class="fas fa-cog"></i>
    </div>
</div>