<div class="login-container">
    <div class="left-login-container">
    </div>
    <div class="right-login-container">
        <div class="login-panel">
            <h4>Sing up with Toby</h4>
            <div class="login-text">Already have an account? <a>Log in</a></div>
            <span>Your name</span>
            <input value="Username" />
            <span>Email</span>
            <input value="Email" />
            <span>Password</span>
            <input value="Password" />
            <div class="checkbox"><input type="checkbox" /><span>I would like emails such as productivity tips and product updates</span></div>
            <button class="button-pink">GET STARTED</button>
            <button class="button-white"><a href="counter">CONTINUE AS GUEST</a></button>
            <p>By signing up with Toby, you acknowledge that you have read and agree to all applicable Terms of Service and our Privacy policy</p>
        </div>
    </div>
</div>