<div class="container-navbar-right">
    <div class="open-close-navbar">
        <i class="fas fa-bars"></i>
        <h5>OPEN TABS</h5>
    </div>
    <div class="container-paths">
        <button><i class="fas fa-download"></i>SAVE SESSION</button>
    </div>
</div>
