<div class="container-navbar-left">
    <div class="navbar-column-left">
        <div class="users-container">
            <button>BR</button>
            <i class="fas fa-plus"></i>
        </div>
        <div class="navbar-user-option">
            <button><i class="fas fa-question"></i></button>
            <button><i class="fas fa-bell"></i></button>
            <button><i class="fas fa-user"></i></button>
        </div>
    </div>
    <div class="navbar-column-right">
        <div class="title-navbar">
            <h5>Brandums</h5>
            <i class="fas fa-bars"></i>
        </div>
        <div class="option-navbar">
            <i class="fas fa-cog"></i>
            <i class="fas fa-user-plus"></i>
        </div>
        <div class="input-navbar">
            <i class="fas fa-search"></i>
            <input type="text" value="Search organization" />
        </div>
        <div class="spaces-navbar">
            <span>Spaces</span>
            <div>
                <i class="fas fa-sort-alpha-down"></i>
                <i class="fas fa-plus"></i>
            </div>
        </div>
        <span><i class="fas fa-star"></i>Starred Collections</span>
        <span style="color: rgb(246, 80, 119)"><i class="fas fa-lock"></i>My Collections</span>
    </div>
</div>